* {
	transition-property: transform;
	transition-duration: 1.5s;
	transition-timing-function: ease-in-out;
}

.coursal_image {
	height: 75vh !important;
	object-fit: cover;
}

.gallery-img {
	cursor: pointer;
	transition-property: scale;
}

.gallery-img:hover {
	scale: 1.2;
}

.aboutme-image {
	object-fit: cover;
	object-position: 50% 0%;
}
